.container{
  text-align: center;
  width: 80%;
  margin:30px auto;
}
.dice{
  display: inline-block;
  text-align :center;
}
h1{
  color;#00FFFF;
  display: inline-block;
  text-align:center;
}
h2{
  color;#00FFFF;
  display: inline-block;
  text-align:center;
}
.dice{
  font-family: 'Cinzel', serif;
}
p{
  font-family: 'Cinzel', serif;
}

body{
  background-image: url("https://www.thoughtco.com/thmb/Z7i_W11m-0HDiPRqM4DbWRk2hPY=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/close-up-of-dices-on-street-764849093-5a6f86210e23d90036767df7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
footer{
  margin-top:20px;
  text-align: center;
  width:80%;
}
